<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/head') %>
</head>
<body>
   <h1>메인페이지</h1>
    <p><%= user_info.id %>님 환영합니다.</p>
    <p><%=user_info._id %></p>
    <button type="button" class="btn btn-success btn-sm" onclick="location.href='/contacts/tboard'">강사 리뷰</button>
</body>
</html>