<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <div class="container">
      <h2>강사 리뷰 게시판</h2>
      <div class="panel panel-default">
        <div class="panel-heading">Panel Heading</div>
        <div class="panel-body" id="wform" style="display:block" >
         <form class="form-horizontal" action="/contacts/tboard/new" method="post">
        <div class="form-group">
          <label class="control-label col-sm-2" for="title">제목 :</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="title" name="title">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="comment">내용 :</label>
          <div class="col-sm-10">          
            <textarea rows="10" class="form-control" name="comment"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="password">확인 패스워드 :</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="password" name="password">
          </div>
        </div>
        <div class="form-group">        
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success btn-sm">등록</button>
            <button type="reset" class="btn btn-success btn-sm">취소</button>
          </div>
        </div>
      </form>
    </div>
      </div>
    </div>
  </body>
</html>
